.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

body{
    font-family: 'Courier New', Courier, monospace;
}



.container{
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
}