.navbar{
    display: flex;
    align-items:center;
    justify-content:start;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-all{
    display: flex;
    align-items:center;
    justify-content:start;
    font-weight: bold;
    margin: 25px;
}

img{
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    width: 250px;
    height: 250px;
}

.username{
    margin-top: 0px;
    margin-left: 10px;
}


.navbar a{
    margin-left: 10px;
    margin-right: 10px;
    
}

#log{
    flex-direction: row-reverse;
}


body{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 0, 0);
    background-color:black;
    
}

a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}



.container{
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
}

.flex{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
}

.button{
    border-radius: 15px;
    border-width: 3px;
    padding: 3px;
    border-style: solid;
    border-color: crimson;
    background-color: crimson;
    color: black;
}

.post{
    margin: 5px;
}

.minipfp{
    width: 40px;
    height: 40px;
}

.comment{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.content{
    white-space: pre-wrap;
}